.dwFooter {
  background-size:100% auto;
	width:100%;
  padding: 70px 0;
  box-sizing:border-box;
  height:auto;
  position:relative;
  color:#000;
  font-family: $futuraMedium;
  overflow:hidden;
  @include mbLarge{
  }
  .banBlock{
    width:100%;
    height:auto;
    @include mbLarge{
      position:absolute;
      top:0;
      left:0;
      z-index:-1;
      height:100%;
      width:auto;
    }
  }
  .clFooterMain {
  	width:100%;
    position:static;
    bottom:40;
    left:0;
    z-index:2;
    @include mbLarge{
      position:static;
      padding-top:0;
      padding-bottom:60px;
    }
    .cl-block {
    	@include myflex;
    	width:$width-parent-home;
    	width:100%;
      @include mbLarge{
        display:block;

      }
      .cl-content-block {
      	width:33.33%;
        @include mbLarge{
          width:100%;
            padding-top:30px !important;
            margin: 0 auto !important;
            float:none !important;
        }
      	h4{
      		font-size:30px;
      		text-transform:uppercase;
      		padding-bottom:30px;
      	}
      	&.dwLeft{
  			text-align:center;
  			h4{
  				text-align:center;
  			}
  		}
      .infoDwCompany{
          li{
            text-transform:uppercase;
            + li{
              padding-top: 8px;
            }
          }
        }
  		&.dwCenter{
  			text-align:center;
  			h4{
  				text-align:center;
  				font-size:116px;
          @include mbLarge{
            font-size:50px;
          }
  			}
  		}
  		&.dwRight{
  			text-align:right;
        width:33.33%;
        align-items: right;
        justify-content:right;
        @include mbLarge{
            width:100%;
          text-align:center;
          }
  			h4{
  				text-align:center;
  			}
  		}
      	ul {
      		&.infoDwShare{
          width: 200px;
          margin: 0 auto;
          @include mbLarge{
            width:100%;
            border-box:box-sizing;
          }
      			li{
      				width:50%;
      				padding:10px;
              font-size:28px;
              display:block;
              width:auto;
              height:50px;
              box-sizing:border-box;
              @include mbLarge{
                    width: auto;
                  padding: 10px;
                  font-size: 28px;
                  display: inline-block;
                  /* width: auto; */
                  height: 50px;
                  box-sizing: border-box;
              }
              &:nth-child(odd){
                float:left;
                clear:right;
                @include mbLarge{
                  float:none;

                }
              }
              a {
                text-decoration: none;
                color: #000;
              }
              + li {
                padding-top:20px;
              }
      			}
      		}
      		li{
      			list-style-type:none;
      		}
      	}

      }
    }
  }
}