.wrapper{
	overflow:hidden;
}
.wrap-plo-main{
	position:relative;
	background:#FF6D00;
	clear:both;
	header{
		top:0;
		left:0;
		width:100%;
		position:absolute;
		z-index:20;
		@include mbLarge{
			position:absolute;
			height:auto;
			width:100%;
			z-index:20000000000000;
		}
		.header-plo{
			float:left;
			padding:20px 0 0 20px;
			@include mbLarge{
				display:block;
				width:100%;
				text-align:left;
				padding:20px 0;

			}
			a{
				img{
					max-width:105px;
					@include mbLarge{
						padding-left:20px;
						max-height:35px;
					}
				}
			}
		}
		.nav-plo{
			position:absolute;
			left:50%;
			top:45px;
			@include transX();
			@include mbLarge{
				@include translateInitial();
				top:0;
				left:0;
				position:static;
				clear:both;
				text-align:center;
			}
			ul{
				@include mbLarge{
					padding:15px 0;
				}
			}
			.item-plo{
				display:inline-block;
				list-style-type:0 none;
				+ .item-plo{
					margin-left:30px;
					@include mbLarge{
						margin-left:3px;
					}
				}
				.link-item-plo{
					color:$white;
					cursor:pointer;
					font-family: $montserratRegular;
					@include mbLarge{
						font-size:14px;
						font-family: $montserratBold;
					}
				}
			}
		}	
		.menu-item{
			float:right;
			line-height:60px;
			height:90px;
			position:relative;
			padding: 0 25px 0 25px; 
			@include mbLarge{
				position:absolute;
				top:0;
				right:25px;
				padding: 0;
			}
			ul{
				display:inline-block;
				line-height:90px;
				@include mbLarge{
					line-height:75px;
				}
				.it-connect-plo{
					list-style-type:none;
					.it-user{
						color:$white;
						cursor:pointer;
						font-family: $montserratRegular;
						@include mbLarge{
							display:inline-block;
							cursor:pointer;
						}
						i{
							display:none;
							@include mbLarge{
								display: block;
								font-size:25px;
							}
						}
						span{
							@include mbLarge{
								display:none;
							}
						}
					}
				}
			}
		}
		.try-app-plo{
			display:inline-block;
			margin-left:30px;
			float:right;
			position:static;
			top:0;
			right:0;
			height:90px;
			line-height:90px;
			padding:0 40px;
			min-width:100px;
			@include customBackground(242, 101,34, 0.8);
			font-family: $montserratRegular;
			border-radius: 0 0 0 5px;
			@include mbLarge{
				height:60px;
				line-height:60px;
				padding:0 20px;
			}
			.link-try-plo{
				color:$white;
				cursor:pointer;
				letter-spacing:1px;
				text-transform:uppercase;
				@include mbLarge{
					font-size:12px;
				}
			}
		}
	}
	.poster-plo{
		position:absolute;
		@include transY();
		top:50%;
		left:40px;
		z-index:30;
		&.poster-plo-cta{
			@include transX();
			left:50%;
			padding:0!important;
			margin:0 !important;
			bottom:100px;
			top:initial;
			@include mbLarge{
				position:static;
				padding-bottom:100px !important;
			}
			.act-plo-entry{
				position:static;
			}
		}
		@include mbLarge{
			position:relative;
			@include translateInitial();
			left:0;
			top:0;
			padding-top:152px;
			padding-bottom:40px;
		}
		.poster-link{
			display:inline-block;
			vertical-align:middle;
			@include mbLarge{
				text-align:center;
				display:block;
			}
			img{
				width:100%;
				height:auto;
				@include mbLarge{
					width:80%;
				}

			}
		}
	}
	.poster-app{
		position:relative;
		padding: 0 0 0 50px;
		display:inline-block;
		vertical-align:middle;

		@include mbLarge{
			+ .poster-app{
				display:none;
			}
		}
		.poster-app-link{
			display:block;
			clear:both;
			vertical-align:middle;
			cursor:pointer;
			display:none;
			@include mbLarge{
				display:none;
			}
			+ .poster-app-link{
				margin-top:30px;
			}
		}
	}
	.act-plo-entry{
		padding:60px  0 0 0;
		position:absolute;
		bottom:-117px;
		width:100%;
		min-width:100%;
		vertical-align:middle;
		text-align:center;
		@include mbLarge{
			min-width:initial;
			bottom:0px;
			width:150px;
			left:30px;
		}
		.btn-action-plo{
			ul{
				.link-act{
					list-style-type:none;
					display:inline-block;
					@include mbLarge{
						width:100%;
					}
					.linked-to-plo{
						height:66px;
						line-height:66px;
						padding:0 20px;
						background: #f26522;
						color:$white;
						display:block;
						font-size:22px;
						border-radius:5px;
						min-width:200px;
						text-align:center;
						letter-spacing:1.5px;
						cursor:pointer;
						@include mbLarge{
							font-size:16px;
							min-width:initial;
							width:100%;
							padding:0;
							height:50px;
							line-height:50px;
						}
						&.try-it{
							background:$orange1;
						}
					}
					+ .link-act{
						margin-left:22px;
						@include mbLarge{
							margin-left:0;
							margin-top:22px;
						}
					}
				}
			}
		}
	}
	.plo-banner-main-home{
		.content-plo{
			.img-plo-sg{
				width:100%;
				height:auto;
				position:absolute;
			}
		}
	}
}
.wrap-text-plo{
	padding:52px 0;
	min-height:350px;
	position:relative;
	overflow:hidden;
	@include mbLarge{
		background:#fff;
		padding:0 0 21px;
		margin-top:0;
	}
	&:before{
		width:100%;
		max-width:300px;
		height:100%;
		position:absolute;
		top:0;
		left:-88px;
		background:$blueColor4;
		display:block;
		content:"";
		transform:skewX(20deg);
		-webkit-transform:skewX(20deg);	
		@include mbLarge{
			left:-300px;
		}
	}
	&:after{
		width:100%;
		max-width:300px;
		height:100%;
		position:absolute;
		top:0;
		right:-88px;
		background:$blueColor4;
		display:block;
		content:"";
		transform:skewX(-20deg);
		-webkit-transform:skewX(-20deg);	
		@include mbLarge{
			right:-300px;
		}
	}
	.content-txt-plo{
		text-align:center;
		h2{
			font-weight:normal;
			position:relative;
			padding: 0 0 52px 0;
			margin: 0 0 30px 0;
			color:$blueColor4;
			font-family:$montserratRegular;
			@include mbLarge{
				padding: 20px 0;
				font-size:18px;
				font-weight:normal;
				background:$orange1;
				color:white;
				height:45px;
				line-height:45px;
			}
			&:before{
				@include transX();
				position:absolute;
				bottom:0;
				background:$blueColor4;
				height:3px; 
				width:60px;
				content:"";
				display:block;
				@include mbLarge{
				}
			}
		}
		.txt-plo{
			display:inline-block;
			font-family:$montserratRegular;
			p{
				color:#333;
				max-width:60%;
				display:inline-block;
				line-height:22px;
				@include mbLarge{
					font-size:15px;
					max-width:80%;
				}
			}
		}
	}
}

.title-colm-plo{
	h2{
		font-weight:normal;
		position:relative;
		padding: 0 0 30px 0;
		margin: 0 0 30px 0;
		color:$white;
		font-family:$montserratRegular;
		@include mbLarge{
			margin:0;
			padding:0 0 11px 0;
			font-size:18px;
		}
		&:before{
			@include transX();
			position:absolute;
			bottom:0;
			background:$white;
			height:3px; 
			width:60px;
			content:"";
			display:block;
			border-radius:2px;
		}
	}
}
.colm-twin{
	display:table;
	width:100%;
	min-height:643px;
	clear:both;
	position:relative;
	img{
		@include translateCenter();
		z-index:100000000;
		top:50%;
		left:50%;
		@include mbLarge{
			width:47px;
		}
	}
	.colm-tw{
		display:table-cell;
		width:50%;
		padding: 90px;
		box-sizing:border-box;
		@include mbLarge{
			padding:0;
		}
		&:nth-child(even){
			background:$orange1;
			.colm-list-tw{
				ul{
					.item-tw{
						list-style-type: none;
						position:relative;
						padding: 25px 0 25px 90px;
						@include mbLarge{
							padding:0;
							display:table;
							width:100%;
						}
						+ .item-tw{
							margin-top:40px;
						}
						i{
							position:absolute;
							@include transY();
							color: #fff;
						    right: 0;
						    left: initial;
						    top: 50%;
						    font-size: 60px;
							@include mbLarge{
								position:static;
								display:block;
								@include translateInitial();
								width:100%;
								text-align:center;
								vertical-align: middle;
								font-size:30px;
								padding-bottom:10px;
								&:before{
									display:inline-block;
									height:60px;
									width:60px;
									line-height:60px;
									text-align:center;
									background:#fff;
									border-radius:100%;
									color:#f26522;
								}
							}
						}
					}
				}
			}
		}
		&:nth-child(odd){
			background:$blueColor3;
		}
		.colm-list-tw{
			ul{
				.item-tw{
					list-style-type: none;
					position:relative;
					padding: 25px 0 25px 90px;
					@include mbLarge{
						width:100%;
						padding: 25px 0;
					}
					+ .item-tw{
						margin-top:40px;
						@include mbLarge{
							margin:0;
						}
					}
					i{
						position:absolute;
						@include transY();
						font-size:40px;
						color:$white;
						left:0;
						top:50%;
						font-size:60px;
						@include mbLarge{
							position:static;
							display:block;
							@include translateInitial();
							width:100%;
							text-align:center;
							vertical-align: middle;
							font-size:30px;
							padding-bottom:10px;
							&:before{
								display:inline-block;
								height:60px;
								width:60px;
								line-height:60px;
								text-align:center;
								background:#fff;
								border-radius:100%;
								color:#106caa;
							}
						}
					}
					.txt-tw{
						color:$white;
						@include mbLarge{
							display:block;
							width:100%;
							text-align:center;
							vertical-align: middle;
							text-align:center;
							font-family:$montserratRegular;
							font-size:14px;
						}
						h3{
							font-weight:normal;
							padding-bottom:15px;
							font-family:$clBold;
							@include mbLarge{
								padding-bottom:2px;
								font-size:16px;
							}
						}
						p{
							display:none;
						}
					}
				}
			}
		}
	}
}
.plo-banner-main-home{
	.content-plo{
		@include mbLarge{
			position:absolute;
			top:0;
			left:0;
			z-index:0;
		}
		.img-plo-sg{
			@include mbLarge{
				width:auto !important;
				height:100% !important;
			}
		}
	}
}
.content-plo{
	position:relative;
	overflow:hidden;
	.plo-banner-main-home &{
		&:before{
			content :""; 
			display:block;
			width:100%;
			margin-top:80%;
		}
		@include mbLarge{
			position:absolute;
			top:0;
			left:0;
		}
	}
	.img-plo-sg{
		width:100%;
	}
	.desc_mb{
		text-align:center;
		display:block;
		position:absolute;
		@include translateCenter();
		color:$white;
		@include mbLarge{
			@include translateInitial();
			position:relative;
			width:100%;
			z-index:2;
			top:0;
			left:0;
			padding:40px 0;
			overflow:hidden;
		}
		h3{
			font-size:30px;
			text-transform:uppercase;
			font-weight:normal;
			padding-top:30px;
			@include mbLarge{
				font-size:20px;
				font-family: $montserratRegular;
				padding: 20px 34px 0;
			}
			span{
				display:block;
				text-align:center;
				padding-top:10px;
			}
		}
		.block-act-link{
			padding-top:40px;
			.btn-default-plo{
				@include defaultButtonCustom($orange1);
				font-size:18px;
				height:50px;
				line-height:50px;
				font-family:$montserratRegular;
			}
		}
		+ .img-plo-sg{
			@include mbLarge{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:auto;
				z-index:1;
				@include transform(scale(3));
			}
		}
	}
}

.footer-plo-home{
	height:auto;
	line-height:auto;
	padding: 0 25px;
	color:$white;
	font-size:14px;
	background:#0b51b0;
	text-align:center;

}

// home ad
#timeline{
	overflow: hidden;
    padding: 0 55px;
    @include mbLarge{
    	padding: 0 20px 20px;
    }
	.column{
		padding:0 7.5px;
	}
}
.home_admin{
	width:100%;
	position:static;
	//@include translateCenter();
	padding-bottom:50px;
	margin:0 auto;
	overflow:hidden;
	@include mbLarge{
		text-align:center;
		width:100%;
		padding:0;
	}
	.header_home_admin{
		background:#fff;
		position:relative;
		height:73px;
		margin-bottom:33px;
		text-align:right;
		padding-right:25px;
		@include mb{
			padding-right:0;
		}
		.return-home{
			font-size: 36px;
    		display:inline-block;
    		height:73px;
    		width:73px;
    		float:left;
    		position:relative;
    		@include mb{
    			font-size:25px;
    		}
    		i{
    			display:inline-block;
    			vertical-align: middle;
    			color:#2b3c74;
    			@include translateCenter();
    			top:50%;
    			left:50%;
    			position:absolute;
    		}
		}
		.param-plo{
			font-size: 36px;
    		display:inline-block;
    		height:73px;
    		margin-left:20px;
    		@include mb{
    			position:relative;
    			right:15px;
    			top:4px;
    			font-size:30px;
    		}
    		i{
    			display:inline-block;
    			vertical-align: middle;
    			color:#2b3c74;
    		}
		}
	}
	.logo-admin-plo{
		font-size: 36px;
		display:inline-block;
		height:73px;
		width:73px;
		float:left;
		position:relative;
		img{
			width:auto;
			height:45px;
			max-height:80%;
			max-width:initial;
			@include translateCenter();
			top:50%;
			left:50%;
			position:absolute;
			@include mbLarge{
				height:34px;
			}
		}
	}

	.profil_home_admin{
		display:inline-block;
		padding:0 7px;
		position:relative;
	//	@include transY();
	//	position:absolute;
	//	top:50%;
	//	right:20px;
		@include mbLarge{
			width:auto;
			float:none;
		}
		.profil_admin{
			display:inline-block;
			vertical-align:middle;
			span{
				color:$white;
				display:inline-block;
				font-family: $montserratRegular;
				vertical-align:top;
				padding-right:15px;
				color:#2b3c74;
				height:73px;
				line-height:73px;
				@include mscEllipsis();
				@include mb{
					width:95px;
					font-size:13px;
				}
			}
			img{
				height:60px;
				width:60px;
				border:3px solid #2b3c74;
				border-radius:100%;
				box-sizing:border-box;
				display:inline-block;
				position:relative;
				top:6px;
				@include mb{
					height:35px;
					width:35px;
					top:19px;
					display:none;
				}
			}
		}
	}
	+ #footer-ad{
		position:static;
		bottom:0;
		left:0;
		.content-footer-ad{
			height:90px;
		}
	}
}
.plo-admin-home{
	/*background:url(../Images/bg_admin.jpg) 0 0 no-repeat;
	background-attachment: fixed;
	background-size:100% 100%;
	*/
	background:#094ca5;
}
.home-ad{
	height:190px;
	width:calc(33% - 16px);
	position:relative;
	overflow:hidden;
	@include animationMediaCustom(0.5s);
	@include transform(scale(1));
	background:#f7f7f7;
	border-radius:4px;
	float:left;
	margin: 0 8px 16px;
	&:nth-child(-n+3){
		a{
			&.access-ad{
				border-color:#00b466;
			}
			&.link_section_acess{
				background:#00b466;
			}
		}
	}
	&:nth-child(n+4):nth-child(-n+6){
		a{
			&.access-ad{
				border-color:#0080b4;
			}
			&.link_section_acess{
				background:#0080b4;
			}
		}
	}
	@include mb{
		height:155px;
		width:100%;
		margin: 0 0 16px;
	}
	&:hover{
		//@include transform(scale(1.4));
		&:before{
			top:22px;
			right:-22px;
			opacity:1;
		}
		i{
			opacity:0.1;
		}
	}
	&.minActive{
		//@include transform(scale(0.7))
		//opacity:0.6;
	}
	&:before{
		content:"";
		height:0;
		width:0;
		border-right:45px solid transparent;
		border-left:45px solid $orange1;
		border-bottom:45px solid transparent;
		position:absolute;
		top:-50px;
		right:-60px;
		opacity:0;
		transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		z-index:3;
		@include animationMediaCustom(0.5s);
		display:none;
	}
	+ .home-ad{
		//margin-top:16px;
	}
	.link_section_acess{
		@include defaultButtonCustom($orange1);
		position:absolute;
		bottom:40px;
		left:40px;
		z-index:1000000000;
		@include mbLarge{
			left:20px;
			bottom:23px;
		}
		@include mb{
			left:10px !important;
		}
	}
	a{
		&.access-ad{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			display:block;
			cursor:pointer;
			//@include customBackground(0,0,0, 0.5);
			@include animationMediaCustom(0.5s);
			z-index:2;
			box-sizing:border-box;
			border-bottom:8px solid $orange1;
			&:hover{
				@include customBackground(0,0,0, 0.8);
				.title-home-ad{
					color:#fff;
				}
			}
			.title-home-ad{
				//@include transY();
				top:25px;
				left:25px;
				position:absolute;
				font-size:20px;
				text-transform:uppercase;
				max-width:70%;
				display:block;
				color:#2b3c74;
				font-family: $montserratRegular;
				z-index:2;
				@include mb{
					top: 25px;
				    left: 10px;
				    position: absolute;
				    font-size: 14px;
				    text-transform: uppercase;
				    max-width: 80%;
				    text-align: left;
				}
			}
			i{
				bottom: -54px;
			    right: -50px;
			    position: absolute;
			    font-size: 212px;
			    color: #ebebeb;
			    z-index:1;
			}
		}
	}
}

.push-search{
	position:relative;
	overflow:hidden;
	max-height:300px;
	height:300px;
	background:#fff;
	&:before{
		content:"";
		background:rgba(0,0,0,0.6);
		display:block;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:1;
		position:absolute;
		display:none;
	}
	.img-plo-sg{
		opacity:0.3;
		@include mbLarge{
			width:auto;
			height:100%;
		}
	}
	.search_link_home{
		position:absolute;
		@include translateCenter();
		width:100%;
		text-align:center;
		z-index:2;

		h2{
			font-family:$montserratRegular;
			font-size:20px;
			text-align:center;
			margin-bottom:30px;
			padding:0 30px;
			color:#333;
			font-weight:normal;
			
		}
		.btn_link_search_home{
			@include defaultButtonCustom($orange1);
			display:inline-block;
			font-family:$montserratRegular;
			float:none;
			margin:0 auto;
			font-size:21px;
			height:50px;
			line-height:50px;
			@include mbLarge{
				font-size:15px;
			}
		}
	}
}

.see_all_match_wrapper{
	height:100px;
	width:100%;
	background:#f7f7f7;
	position:relative;
	a{
		@include defaultButtonCustom($orange1);
		position:absolute;
		@include translateCenter();
		display:inline-block;
		width:auto;
		padding:0 10px;
		min-width:300px;

	}
}

.wrap-select-plo{
	display:block;
	clear:both;
}
.column-full {
  &.colum-full-tarif {

    .head-plo {
		height:70px;
		line-height:70px;
      	text-align:center;
      h1 {
		font-family: $montserratBold;
		font-size:19px;
		font-weight: normal;
		text-transform: uppercase;
		color:#353535;
      }
    }

    .full-cft {
		display:block;
		height:400px;
		padding-bottom:40px;
		text-align: center;
		display: -webkit-box;
  		display: -ms-flexbox;
 		display: flex;
  		align-items: stretch;
		-webkit-box-orient: vertical; 
    	-webkit-box-direction: normal;
    	-ms-flex-direction: column;
    	flex-direction: column;
  		flex-wrap: wrap;
  		-ms-flex-wrap: wrap;
  		align-items: center;
  		/*Center horizontaly */
       justify-content: center;
	 /*Center horizontaly ie */
       -ms-flex-pack: center;
      .item-cft {
      	display: -webkit-box;
  		display: -ms-flexbox;
 		display: flex;
  		align-items: stretch;
		-webkit-box-orient: vertical; 
    	-webkit-box-direction: normal;
    	-ms-flex-direction: column;
    	flex-direction: column;
  		flex-wrap: wrap;
  		-ms-flex-wrap: wrap;
		vertical-align: middle;
		//margin:0 auto;
		height:390px;
		min-width:350px;
		max-width:350px;
        .top-cft {
			width:100%;
			-webkit-box-flex: 3;
		    -ms-flex: 3;
		    flex: 3;
			position:relative;
          .py {
			margin: auto;
			@include translateCenter();
			font-size:45px;
			.ttl-price{
				font-size:12px;
				display:block;
				width:100%;
			}
			.our_price{
				color:$orange1;
			}
          }
        }

        .content-cft {
			-webkit-box-flex: 1;
		    -ms-flex: 1;
		    flex: 1;
			background:#f3f3f3;
			width:100%;
			position:relative;
			.btn-reserved{
				@include translateCenter();
				a{
					@include defaultButtonCustom($orange1);
					font-family: $montserratRegular;
				}
			}
        }
      }
    }
  }

  .head-plo {

    h1 {

    }
  }

  .full-cft {

    .item-cft {

      .top-cft {

        .py {

        }
      }

      .content-cft {

      }
    }
  }
}
.column-full {
  &.colum-split-2 {
	display:table;
	width:100%;
	&.colum-left-plo{
		.clo-plo:nth-child(even){
			background:#f26522;
		}
	}
	&.colum-right-plo{
		.clo-plo:nth-child(odd){
			background:#f26522;
		}
	}
    .clo-plo {
   	width:50%;
	display:table-cell;
	position:relative;
	&:before{
		width:50%;
		margin-top:100%;
		content:"";
		display:block;
	}
	&.txt_plo{
		p{
			@include translateCenter();
			position:absolute;
			width:100%;
			padding: 40px;
			box-sizing:border-box;
			font-family: $montserratRegular;
			color:#ccc;
			font-size:15px;
			line-height:26px;
		}
	}
      &.img_plo {

        img {

        }
      }

      .info-plo-section {
		position:absolute;
		height:200px;
		width:150px;
		background:red;
		@include translateCenter();
        .icon-right {

        }

        .txt-sec-plo {

        }
      }

      img {

      }
    }
  }

  .clo-plo {
    &.img_plo {

      img {

      }
    }

    .info-plo-section {

      .icon-right {

      }

      .txt-sec-plo {

      }
    }

    img {

    }
  }
}

.flex-wrapper{
	.full-flex{
		width:100%;
		max-width:1600px;
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    flex-flow: row wrap;
	    margin:0 auto;
	    align-items:center;
	    padding: 10px 0;

	    &.full-width-fx{
			img{
				width:100%;
				height:auto;
			}
	    }
	     &.full-flex-video{
	    	#fcplayer_container{
	    		#fcplayer_wrapper{
	    		}
	    	}
	    	#fcplayer_jwplayer_controlbar *{
	    		//background:none !important;
	    	}
	    }
	    &.multiple-fx{
	    	&.fx-right{
	    		.div-flex{
	    			&:nth-child(even){
						order:1;
	    			}
	    			&:nth-child(odd){
						order:2;
	    			}
	    		}
	    	}
	    	&.fx-left{
	    		.div-flex{
	    			&:nth-child(even){
						order:2;
	    			}
	    			&:nth-child(odd){
						order:1;
	    			}
	    		}
	    	}
	    	.div-flex{
	    		flex:auto;
	    		&:nth-child(even){
				//	padding-right:40px;
	    			padding-left:10px;
	    			text-align:left;
	    			img{
	    				align-self:flex-end;
	    			}
	    		}
	    		&:nth-child(odd){
				//	padding-left:40px;
					padding-right:10px;
					align-content:right;
					text-align: right;
	    			img{
	    				align-self:flex-end;
	    			}
	    		}
	    		img{
	    		}
			}
	    }
		.div-flex{
			position:relative;
			.txt-act{
				text-align:left;
				h3{
				  font-size: 30px;
				  font-weight: 500;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: 1.33;
				  letter-spacing: 1.8px;
				  text-align: left;
				  color: #000000;
				}
				a{
					text-align:left;
					font-size:11px;
					line-height:10px;
					letter-spacing:1.5px;
					text-transform:uppercase;
					position:relative;
					top:10px;
					cursor:pointer;
					&:before{
						content:"";
						position:absolute;
						bottom:-8px;
						width:100%;
						height:1px;
						background: #000;
					}
				}
			}
			&.collage{
				padding:50px 0;
				&:before{
					height:0;
					content:"";
					width:600px;
					margin-top:600px;
					display:block;
				}
			}
			.spKz{
				@include transYPlus(rotate(0deg) scale(1));
				@include animationMediaCustom(0.35s);
				position:absolute;
				top:50%;
				z-index:1;
				cursor:pointer;
				margin-top:0;
				img{
					@include animationMediaCustom(0.35s);
					position:relative;
					top:0;
				}
				span{
					opacity:0;
					display:block;
					text-align:center;
					@include animationMediaCustom(0.35s);
					margin-top:40px;
					transform: rotate(2deg);
					-webkit-transform: rotate(2deg);
				}
				&.space1{
					&.active{
						img{
						 	box-shadow: -40px 41px 34px 0 rgba(0, 0, 0, 0.2);
						 }
					}
				}
				&.space1, &.space3{
					&.active{
						z-index:4 !important;
						@include transYPlus(rotate(-2deg) scale(1.2));
					}
				}
				&.space1{

					left:100px;
				}
				&.space2{
					@include translateCenterPlus(rotate(-2deg) scale(1));
					z-index:2;
					&.active{
						z-index:4 !important;
						@include translateCenterPlus(rotate(-2deg) scale(1.2));
					}
				}
				&.space3{
					right:100px;
					top:55%;
					@include transYPlus(rotate(0deg) scale(1));
				}
				&.active{
					img{
					 	box-shadow: 40px 41px 34px 0 rgba(0, 0, 0, 0.2);
					// 	margin-top:0 !important;
					 }
					 span{
					 	opacity:1;
					 }
				}
				
				&:hover{
					img{
						top:-10px;
					}
				}
				
			}
		}
	}
	.full-static{
		width:100%;
		max-width:1600px;
	    margin:0 auto;
	    align-items:center;
	    padding: 10px 0;
		display:table;
		max-height:650px;
		box-sizing:border-box;
	    &.full-width-fx{
			img{
				width:100%;
				height:auto;
			}
	    }
	    &.multiple-fx{
	    	&.fx-right{
	    		.div-flex{
	    			&:nth-child(even){
						order:1;
	    			}
	    			&:nth-child(odd){
						order:2;
	    			}
	    		}
	    	}
	    	&.fx-left{
	    		.div-flex{
	    			&:nth-child(even){
						order:2;
	    			}
	    			&:nth-child(odd){
						order:1;
	    			}
	    		}
	    	}
	    	.div-flex{
	    		display:table-cell;
	    		&:nth-child(even){
				//	padding-right:40px;
	    			padding-left:10px;
	    			text-align:right;
	    			vertical-align:middle;
	    			width:70%;
	    			img{
	    				align-self:flex-end;
	    			}
	    		}
	    		&:nth-child(odd){
				//	padding-left:40px;
					padding-right:10px;
					align-content:right;
					text-align: right;
					table-layout:fixed;
	    			width:30%;
	    			vertical-align: middle;
	    			img{
	    				align-self:flex-end;
	    			}
	    		}
	    		img{
	    		}
			}
	    }
		.div-flex{
			position:relative;
			.txt-act{
				display:inline-block;
				text-align:left;
				h3{
				  font-size: 30px;
				  font-weight: 500;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: 1.33;
				  letter-spacing: 1.8px;
				  text-align: left;
				  color: #000000;
				}
				a{
					text-align:left;
					font-size:11px;
					line-height:10px;
					letter-spacing:1.5px;
					text-transform:uppercase;
					position:relative;
					top:10px;
					cursor:pointer;
					&:before{
						content:"";
						position:absolute;
						bottom:-8px;
						width:100%;
						height:1px;
						background: #000;
					}
				}
			}
			&.collage{
				padding:50px 0;
				&:before{
				}
			}
			.spKz{
				display:inline-block;
				vertical-align: middle;
				position:relative;
				@include animationMediaCustom(0.35s);
				width:30%;
				img{
					@include animationMediaCustom(0.35s);
					position:relative;
					top:0;
					width: 100%;
   		 			height: auto;
				}
				span{
					opacity:0;
					display:block;
					text-align:center;
					@include animationMediaCustom(0.35s);
					margin-top:20px;
					transform: rotate(2deg);
					-webkit-transform: rotate(2deg);
				}
				&.space1{
					top:-70px;
					&.active{
						img{
						 	box-shadow: -40px 41px 34px 0 rgba(0, 0, 0, 0.2);
						 }
					}
				}
				&.space1, &.space3{
					&.active{
						z-index:4 !important;
						@include transform(rotate(-2deg) scale(1.2));
						top:0;
					}
				}
				&.space1{
					@include transform(rotate(0deg) scale(1))
					left:70px;
				}
				&.space2{
					@include transform(rotate(-2deg) scale(1));

					z-index:2;
					&.active{
						z-index:4 !important;
						@include transform(rotate(-2deg) scale(1.2));
					}
				}
				&.space3{
					right:70px;
					top:10px;
					@include transform(rotate(0deg) scale(1));
				}
				&.active{
					img{
					 	box-shadow: 40px 41px 34px 0 rgba(0, 0, 0, 0.2);
					// 	margin-top:0 !important;
					 }
					 span{
					 	opacity:1;
					 }
				}
				
				&:hover{
					img{
						top:-10px;
					}
				}
				
			}
		}
	}
}


//grid-flex-12
.hp-bloc {
	display: inline-block;
	position: relative;
	padding: 75px 30px;
	box-sizing:border-box;
	&-info {
		text-align: center;
		padding: 40px 10% 0;
	}

	&.big {
		.title {
			@extend .txt-1;
		}

		ul.links {
			margin-top: 25px;
		}
	}

	&.medium {
		.title {
			@extend .txt-2;
		}

		ul.links {
			margin-top: 19px;
		}
	}
	&.content-product{
		.hp-bloc-product{
			padding-top:20px;
			text-align:center;
			.hp-price, .hp-name-product{
				font-weight:normal;
				font-size:14px;
				line-height:22px;
				letter-spacing:0.5px;

			}
		}
	}
	&.content-video{
		position:relative;
		.video-no-auto{
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:auto;
			img{
				position:relative;
				z-index:1;
			}
			.icon-player{
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
				-webkit-transform:translate(-50%,-50%);
				height:50px;
				width:50px;
				background:#fff;
				display:block;
				z-index:2;
				cursor:pointer;

			}
		}
	}
	&.center-content {

		.hp-bloc-info {
			padding-top: 0;
		    position: absolute;
		    width: 100%;
		    top: 50%;
		    left: 0;
		    transform: translatey(-50%);
		    -moz-transform: translatey(-50%);
		    -webkit-transform: translatey(-50%);
		    z-index: 1;
		}
	}
	
	&.center-text{

		.block-text-in{
			position:relative;
			width:485px;
			height:440px;
			background:#d7f0e3;
			text-align:center;
			p{
				width:100%;
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
				-webkit-transform:translate(-50%,-50%);
				letter-spacing:1.8px;
				font-size:30px;
				line-height:40px;
			}
		}
	}
	&.overlay {

		.hp-bloc-img {
			position: relative;

			&:after {
				content: '';
			    position: absolute;
			    height: 100%;
			    width: 100%;
			    top: 0;
			    left: 0;
			    background: rgba(0,0,0,0.2);
			    transition: background .2s ease-in;
			    -webkit-transition: background .2s ease-in;
			}
		}

		&:hover .hp-bloc-img:after {
			background: rgba(0,0,0,0.6);
		}
	}
}

ul.links {
  	//display: flex;
    width: 100%;
    margin: 0 auto;
    text-align:center;
	li {
		box-sizing:border-box;
		display:inline-block;
		min-width:33%;
		height:28px;
		+ li{
			//margin-left:20px;
		}
	}

	&.triple {
		width: 62%;
	}
}

.grid-flex-12{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap:wrap;
	align-items: center;
    flex-wrap: wrap;
    justify-content: center;
	.hp-bloc{
		img{
			width:100%;
		}
		&.hp-grid-1{
			width:8.33%
		}
		&.hp-grid-2{
			width:16.66%
		}
		&.hp-grid-3{
			width:24.99%;
		}
		&.hp-grid-4{
			width:33.32%
		}
		&.hp-grid-5{
			width:41.65%;
		}
		&.hp-grid-6{
			width:49.98%;
		}
		&.hp-grid-7{
			width:58.31%;
		}
		&.hp-grid-8{
			width:66.64%;
		}
		&.hp-grid-9{
			width:74.97%;
		}
		&.hp-grid-10{
			width:83.3%;
		}
		&.hp-grid-11{
			width:91.63%;
		}
		&.hp-grid-12{
			width:100%;
		}
	}

}
#video2_displayarea{
	//width:100% !important;
}

// cd video 
.flex-wrapper{
	.section{
		width:800px;
		margin: auto;
	}
}
#video {
    display: block;
    //padding-bottom: 56.25%;
    height:450px;
	overflow: hidden;
	position: relative;
    background: url('https://placeimg.com/1000/500/any') no-repeat top center;
	background-size: cover;
	&.visible_video{
		iframe{
			opacity:1;
		}
	}
	iframe{
		position: absolute; top: 0; left: 0; width: 100%; height: 100%;
		opacity:0;
	}
}

.btn-play-comptoirStorie{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	cursor:pointer;
}

// animation button notif
.block-notif-home{
	position:fixed;
	right:-100%;
  	bottom:40px;
  	 z-index:100000000000000;
  	 @include animCustom(right);
  	 &.active{
		right:0;
		.btn_notif_home{
			/*
			&:nth-child(1){
				@include animCustom(all 0.5s);
			}
			&:nth-child(2){
				@include animCustom(all 1s);
			}
			&:nth-child(3){
				@include animCustom(all 1.5s);
			}
			&:nth-child(4){
				@include animCustom(all 2s);
			}
			*/
			&.reversing{
				right:15px;
				@include animCustom(all 0.5s);
			}
			&.activeReverse{
				right:-100%;
			}
		}
  	 }

}
.btn_notif_home{
	font-family: $futuraMedium;
	width: auto;
  	height: 48px;
  	background:#F6F6F6;
  	line-height:48px;
  	font-size:14px;
  	color:#000;
  	position:relative;
  	right:-100%;
  	padding : 0 45px 0 30px;
  	border-radius:10px;
  	cursor:pointer;
	display:inline-block;
  	clear:both;
  	@include animCustom(all);
  	text-align:center;
  	float:right;
  	box-sizing:border-box;
  	*{
  		@include animCustom(all);
  		opacity:0.5;
  	}
  	+ .btn_notif_home{
  		margin-top:15px;
  	}
  	a{
		text-decoration:none;
		color:#000;
  	}
  	&:hover{
  		*{
  			opacity:1;
  			letter-spacing:1px;
  		}
  		@include animCustomImportant(all);
  	}
  	i{
  		&.close-notif{
  			color:#fff;
  			background:#000;
  			border-radius:100%;
  			height:14px;
  			width:14px;
  			line-height:14px;
  			display:inline-block;
  			text-align:center;
  			font-size:6px;
  			position:absolute;
  			@include transY();
  			right:15px;
  			top:50%;
  			letter-spacing:normal !important;
  		}	
  	}
}
.hp-grid-row{
	position:relative;
	img{
		position:relative;
	}
}
.canvas_anim{
	position:fixed;
	z-index:2000;
	opacity:0;
	@include animCustomEase(0.5s all ease-out);
	@include transform(scale(0.1));
	
	&.active{
		opacity:1;
		@include transform(scale(1));
	}
	&:hover{
		@include transform(scale(1) rotate(8deg));
	}
}