body{
	font-family: arial;
	*{
	}
	a{
		cursor:pointer;
	}
}
.dw_homepage{
	@include mbLarge{
		overflow:hidden;
	}

}
.dwTitle {
	@include transXPlus(scale(1));
	@include animCustomEase(0.2s transform ease-in-out,0.2s opacity ease-in-out, 0.5s all ease-in-out, 0.5s top ease-in-out );
	top:85px;
   left:50%;
   position:absolute;
   width:auto;
   z-index:20000;
   font-family: $futuraMedium;
   text-transform:uppercase;
   letter-spacing: 120px;
   opacity:0.2;
}
.home-dw{
	max-width:1200px;
	margin: 0 auto;
}

.full-dw-home{
	&.active{
		.dwTitle {

			letter-spacing: 120px;
			&.animated{
		      top:85px;
		       left:50%;
				letter-spacing: 120px;
				opacity:1;
				font-size:40px;
		       @include mbLarge{
		       	top:0;
		       	font-size:20px;
		       }
		      &.animatedPlus{
		        letter-spacing: 1px;
		        font-size:20px;
		        @include transXPlus(scale(2.5));
		      }
		    }
		}
	}
}

.flx-block-real{
	.flx-item-content{
		@include translateCenterPlus(scale(1)) ;
		@include animCustomEase(0.2s transform ease-in-out,0.2s opacity ease-in-out, 0.5s left ease-in-out, 0.5s top ease-in-out );
		&.scaled{
			@include translateCenterPlus(scale(1.2));
		}
	}
}

.flx-content{
	position:relative;
	top:0;
}
.full-dw-home{
	position:relative;
	height:$width-parent-home;
	width:100%;
	background:#fff;
	@include animCustomEase(0.2s transform ease-in-out,0.2s opacity ease-in-out, 0.5s left ease-in-out, 0.5s top ease-in-out );
    opacity:0.95;
    &.active{
    	opacity:1;
    }
    &.home-dw{
    	//background-size:100% auto;
    	z-index:3;
    	.logo-dw-lion{
    		@include transX();
    		position:absolute;
    		top:230px;
    		@include translateCenterPlus(scale(1));
			@include animCustomEase(0.2s transform ease-in-out,0.2s opacity ease-in-out, 0.5s left ease-in-out, 0.5s top ease-in-out );
			@include mbLarge{
				opacity: 1;
				max-width: 80px;
				@include transX();
				top: 71px;
			}
    		&.active{
    			@include translateCenterPlus(scale(1.2));
    		}
		}
		.ttl-tile{
    		@include transX();
    		position:absolute;
    		top:230px;
    		@include translateCenterPlus(scale(1));
			-webkit-transition: 0.6s top linear;
			transition: 0.6s top linear;

			@include mbLarge{
				opacity: 1;
				max-width: 100%;
				@include transX();
				h2{
					font-size: 26px;
				}
				h3{
					font-size:20px;
				}
			}

    		&.active{
    		//	@include translateCenterPlus(scale(1.2));

    		}
    	}
    	.flx-content{
    		top:-117px;
    		@include mbLarge{
    			top:30px;
    		}
    	}
    }
	&.expertise{
    //	background-size:100% auto;
    z-index:4;
    position:relative;
	    .dwTitle {
	    	font-size:30px;
	    	color:#fff;
	    	//opacity:0.8;
	    	@include mbLarge{
	    		font-size:19px;
	    	}
		}
		.flx-abso-center{
			position:absolute;
	    	@include translateCenter();
	    	width:100%;
		}
		.flx-block {
			@include myflex();
			flex-wrap:stretch;
			align-items: center;
		    justify-content: center;
		    @include mbLarge{
		    	display:block;

		    }
		  .flx-item-block {
		  	width:25%;
		  	height:$width-parent-home;
	  		justify-content:center;
	    	align-content:center;
	    	position:relative;
	    	@include mbLarge{
	    		width:50%;
	    		@include translateInitial();
	    		float:left;
	    	}
	    	&:nth-child(1){
	    		.flx-item-content{
	    			color:#3d3289;
	    		}
	    	}
	    	&:nth-child(2){
	    		.flx-item-content{
	    			color:#7297d3;
	    		}
	    	}
	    	&:nth-child(3){
	    		@include mbLarge{
	    			padding-top:47px;
	    		}
	    		.flx-item-content{
	    			color:#5463e8;
	    		}
	    	}
	    	&:nth-child(4){
	    		@include mbLarge{
	    			padding-top:47px;
	    		}
	    		.flx-item-content{
	    			color: rgb(117, 49, 142);
	    		}
	    	}
		  	.flx-item-content{
		    	text-align:center;
		    	@include translateCenterPlus(scale(0.2));
				@include animCustomEase(0.2s transform ease-in-out,0.2s opacity ease-in-out, 0.5s left ease-in-out, 0.5s top ease-in-out );
		    	top:50%;
		    	left:50%;
		    	position:absolute;
		    	max-width:60%;
		    	border:0 none;
		    	@include mbLarge{
		    		@include translateInitial();
		    		position:static;
		    		display:block;
		    		margin:0 auto;
		    	}
		    	h4{
		    		font-family:$montserratBold;
		    		font-size:25px;
		    		text-transform: uppercase;
		    		@include mbLarge{
		    			font-size:13px;
		    		}
		    	}
		    	&.animated{
		    		@include translateCenterPlus(scale(1));
		    		@include mbLarge{
		    			position:static;
		    			@include transform(scale(1));
		    		}
		    	}
		    	&.htmlIcon {
		    		font-size:260px;
		    		@include mbLarge{
		    			font-size:112px;
		    		}
		    	}
		    	i{
		    		display:inline-block;
		    		font-size:164px;
		    		padding-bottom:30px;
		    		&.icon-prestashop{
		    			@include transX();
		    			position:relative;
		    			margin-left:0;
		    			@include mbLarge{
		    				margin-left: 36px;
		    				@include translateInitial();
		    				width:100%;
		    				left:0;
		    			}
		    		}
		    		span{
		    			position:absolute;
		    			@include transX();
		    			left:50%;
		    			&.path1{
		    				display:none;

		    			}
		    			&.path28{
		    				position:static;
		    				margin: 0 auto;
		    			}

		    		}
		    		@include mbLarge{
		    			font-size:82px;
		    			padding-bottom:15px;
		    		}
		    	}
		  	}
		    .icon-logo {

		    }
		    &:nth-child(even){
		    	//background:#fff;
		    }
		  }
		}
	}
	&.real{
    	background-size:100% auto;
    	position:relative;
	    .dwTitle {
	    	font-size:30px;
	    	color:#fff;
	    	//opacity:0.8;
	    	@include mbLarge{
	    		font-size:19px;
	    	}
		}
		.flx-block-real {
			@include myflex();
			flex-wrap:nowrap;
			align-items: center;
		    justify-content: center;
		    @include translateCenter();
			width:100%;
			@include mbLarge{
				display:block;
				padding-top:254px;
			}
		  .flx-item-block {
		  	width:20%;
		  	height:$width-parent-home;
	  		justify-content:center;
	    	align-content:center;
	    	position:relative;
	    	@include mbLarge{
	    		width:50%;
	    		height:100px;
	    		float:left;
	    	}
	    	.link-to-view{
	    		img{
					width:100%;
					height:auto;
	    		}
	    	}
	    	&:nth-child(odd){
		    	position:relative;
		    	top:-30px;

		    }
		    &:nth-child(even){
		    	position:relative;
		    	top:30px;
		    }
		  	.flx-item-content{
		    	text-align:center;
		    	@include translateCenterPlus(scale(1)) ;
				@include animCustomEase(0.2s transform ease-in-out,0.2s opacity ease-in-out, 0.5s left ease-in-out, 0.5s top ease-in-out );
		    	top:50%;
		    	left:50%;
		    	position:absolute;
		    	max-width:60%;
		    	@include mbLarge{
		    		max-width:100%;
		    	}
		    	&.scaled{
					@include translateCenterPlus(scale(1.4)) ;
		    	}
		  	}
		  }
		}
	}
  .flx-fluid {
  	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height:$width-parent-home;
	position:absolute;
	@include translateCenter();
	width:100%;
	height:100%;
	@include mbLarge{
		@include translateInitial();
		left:0;
		top:0 !important;
	}
    .flx-item-dw {
    	width:50%;
    	position:relative;
    	justify-content:center;
    	align-content:center;
    	text-align:center;
    	@include mbLarge{
    		width:100%;
    		padding: 121px 0 0 0;
    		+ .flx-item-dw{
    			padding:20px 0 0 0;
    			opacity:0.2;
    		}
    	}
    	&:nth-child(even){

    	}
    	&:nth-child(odd){
    		.flx-content {
    			max-width:450px;
    			text-align:left;
    			display:inline-block;
    			@include mbLarge{
    				text-align:center;
    			}

    		}

    	}
      .flx-content {
      	@include mbLarge{
      		box-sizing:border-box;
      		padding: 0 35px;
      	}
        h3 {
        	color:#2e178a;
    	    line-height: 46px;
			font-size: 34px;
        	text-transform:uppercase;
        	padding-bottom:20px;
        	@include mbLarge{
        		font-size:26px;
        		line-height:39px;
        	}

        }
        p{
        	color:#2e178a;
        	font-family: $montserratRegular;
        	font-size:23px;
        	@include mbLarge{
        		font-size:15px;
        		color:#fff;
        	}
        }
        i{
        	font-size:0;
        	color:#b7b7b7;
        	opacity:0.3;
        	@include transform(scale(0.2)) ;
			@include animCustomEase(0.4s all ease-in-out,0.2s opacity ease-in-out, 0.5s left ease-in-out, 0.5s top ease-in-out );
		    &.animated{
		    	@include transform(scale(1));
		    	font-size:78px;
		    	opacity:1;
		    	@include mbLarge{
		    		font-size:49px;
		    	}
		    }
		    &:nth-child(1){
		    	color:#3d3289;
		    }
		    &:nth-child(2){
		    	color:#7297d3;
		    	position:relative;
		    	top:-57px;
		    }
		    &:nth-child(3){
		    	color:#5463e8;
		    }
        	+ i{
        		padding-left:60px;
        	}
        }
        .btn-contactus {

        }

        .icon-display {

        }

        .icon-tablet {

        }

        .icon-mobile {

        }
      }
    }
  }
}

.banBlock{
	display:block;
	width:100%;
	height:auto;
	position:relative;
	@include mbLarge{
		min-height:400px;
	}
}

.contactUsSticky{
	display:none;
	&.active{
		display:none;
		@include mbLarge{
			display:none !important;
		}
	}
	@include mbLarge{
		display:block;
		@include transX();
		left:50%;
		position:fixed;
		bottom:50px;
		border-radius:20px;
		line-height:50px;
		text-align:center;
		background:#000;
		z-index:20000;
		padding:15px 0;
		width:100%;
		max-width:300px;
		background:rgba(233, 15, 129, 1);
		box-sizing:border-box;
		a{
			display:block;
			color:#fff;
			font-family: $montserratBold;
			text-transform:uppercase;

		}
		i{
			color:#fff;
			padding:0 0 0 20px;
			font-size:30px;
			position: relative;
			top: 7px;
			padding-right: 16px;

		}
	}
}

.swiper-container {
	img{
		width: 100%;
		height: auto;
	}
}

.ttl-tile{
	text-align:center;
	position:absolute;
	transform: translate(-50%, -50%);
	top:50%;
	left:50%;
	color:#fff;
	z-index:11;
	font-family: $futuraMedium;

	h2{
		font-size: 76px;
	}

	h3{
		font-size:25px;
	}
}

.columns {
	.column {
		&:nth-child(even) {
			padding:40px 0 40px 40px;
			@include mbLarge{
				padding:20px 50px; 
			}
		}

		&:nth-child(odd) {
			padding:40px 40px 40px 0;
			@include mbLarge{
				padding:20px 50px;
			}
		}
	}
}
.full-dw-home {
	.swiper-wrapper {
		height: auto;
		max-height:650px;
	}

	.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
		@include mbLarge{
			margin-top: 40px;
		}
	}

	.swiper-button-next{
		@include mbLarge{
			margin-top: 40px;
			right:20px;
		}
	}

	.swiper-button-prev{
		@include mbLarge{
			margin-top: 40px;
			left: 20px;
		}
	}
}
.swiper-slide {
	overflow: hidden;
	img {
		position: relative;
		-webkit-transition: 0.5s top linear;
		transition: 0.5s top linear;
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
	}
}

.full-desc {
	@include myflex();
	padding: 40px 0;
	align-items: center;
	justify-content:center;
	.top-desc {
		justify-content: center;
		align-items: center;
		max-width: 600px;
		text-align: center;
		font-family:$gothic;
		.ttl-desc{
			position:relative;
			font-style:italic;
			font-size: 22px;
			&:before{
				content:""; 
				display:block;
				width:1px;
				height:100px;
				margin:0 auto 40px;
				background: #333; 
				@include mbLarge{
					height: 45px;
				}

			}
		}
		p {
			line-height: 36px;
			font-size: 25px;
			font-family:$gothic;
			@include mbLarge {
				font-size: 18px;
				padding: 0 20px;
			}
			ul {
				padding: 40px 0 0 0;
				margin: 0;
				li {
					list-style-type: none;
					font-size: 25px;
				}
			}
		}

		ul {
			padding: 40px 0 0 0;
			margin: 0;
			@include mbLarge{
				padding: 0 20px;
			}
			li {
				list-style-type: none;
				font-size: 25px;
				&:nth-child(even){
					color: #888;
				}
				@include mbLarge {
					font-size:18px;
				}
			}
		}
	}
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}