@import "variables";
@import "mixin";


//1. afficher le block losrque nous sommes en hover sur le lien
.block{
    width:200px;
    height:200px;
    background: grey;
    display: none;
    &--green {
        background: $green;
    }
}

// 2. Placer les blocks horizontalement
.block{
    &--green{
        width:200px;
        height:200px;
        margin: 5px 0;
    }
}

// 3. gestion du responsive agrandir la surface des blocks à 100%